# Binaries for programs and plugins
/main
/loom
/*.exe
/*.exe~
/*.so
/*.dylib
/*.dll

# Binary output folders
bin/*
!bin/loom
dist/

#Development files and directories
node_modules/
vendor/
.yarn/*
!.yarn/releases
public/hot
build/
dist/
out/
Homestead.json
Homestead.yaml
tsconfig.tsbuildinfo
.phpactor.json
*.local
*.db

# Environment
.env
.env.backup

# Cache
.cache
*.cache
.mf

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
error_log*

# Common editor/system specific metadata
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Tests
/test-results/
/playwright-report/
/playwright/.cache/
